{{!-- <input type="text" class="country-name js-input-country-name" name="query"/> --}}
<ul class="country-list-group">
   {{#each this}}
   <li class="country-list-group-item">{{name}}</li>
   {{/each}}
</ul>